<div class="home-page">
  <div nag-tooltip class="auto bottom right" auto-position="true" data-vertical="bottom" data-horizontal="right" data-ut="auto-bottom-right">
    <div class="handle">auto tooltip in bottom right</div>
    <div class="content">tool tip content</div>
  </div>
  <div nag-tooltip class="auto bottom left" auto-position="true" data-vertical="bottom" data-horizontal="left" data-ut="auto-bottom-left">
    <div class="handle">auto tooltip in bottom left</div>
    <div class="content">tool tip content</div>
  </div>
  <div nag-tooltip class="auto top right" auto-position="true" data-vertical="top" data-horizontal="right" data-ut="auto-top-right">
    <div class="handle">auto tooltip in top right</div>
    <div class="content">tool tip content</div>
  </div>
  <div nag-tooltip class="auto top left" auto-position="true" data-vertical="top" data-horizontal="left" data-ut="auto-top-left">
    <div class="handle">auto tooltip in top left</div>
    <div class="content">tool tip content</div>
  </div>

  <div nag-tooltip class="sticky" data-sticky="true" data-ut="sticky">
    <div class="handle">sticky tooltip</div>
    <div class="content">tool tip content</div>
  </div>

  <div class="manual-container">
    <div nag-tooltip class="manual top-left" data-vertical="top" data-horizontal="left" data-ut="manual-top-left">
      <div class="handle">manual tooltip in top left</div>
      <div class="content">tool tip content</div>
    </div>
    <div nag-tooltip class="manual top-middle" data-vertical="top" data-horizontal="middle" data-ut="manual-top-middle">
      <div class="handle">manual tooltip in top middle</div>
      <div class="content">tool tip content</div>
    </div>
    <div nag-tooltip class="manual top-right" data-vertical="top" data-horizontal="right" data-ut="manual-top-right">
      <div class="handle">manual tooltip in top right</div>
      <div class="content">tool tip content</div>
    </div>
    <div nag-tooltip class="manual middle-left" data-vertical="middle" data-horizontal="left" data-ut="manual-middle-left">
      <div class="handle">manual tooltip in middle left</div>
      <div class="content">tool tip content</div>
    </div>
    <div nag-tooltip class="manual middle-right" data-vertical="middle" data-horizontal="right" data-ut="manual-middle-right">
      <div class="handle">manual tooltip in middle right</div>
      <div class="content">tool tip content</div>
    </div>
    <div nag-tooltip class="manual bottom-left" data-vertical="bottom" data-horizontal="left" data-ut="manual-bottom-left">
      <div class="handle">manual tooltip in bottom left</div>
      <div class="content">tool tip content</div>
    </div>
    <div nag-tooltip class="manual bottom-middle" data-vertical="bottom" data-horizontal="middle" data-ut="manual-bottom-middle">
      <div class="handle">manual tooltip in bottom middle</div>
      <div class="content">tool tip content</div>
    </div>
    <div nag-tooltip class="manual bottom-right" data-vertical="bottom" data-horizontal="right" data-ut="manual-bottom-right">
      <div class="handle">manual tooltip in bottom right</div>
      <div class="content">tool tip content</div>
    </div>
  </div>
</div>
