<div class="home-page" style="position: relative;">
  <div class="wrapper">
    The Nucleus Angular SASS framework include the source code from the <a href="https://github.com/chinchang/hint.css">hint.css</a> library which provides tooltip functionality through pure CSS.  This tooltip directive provides functionality to have a sticky tooltip and should only be used if you need that functionality (otherwise, the pure CSS tooltip should suffice).  The position of the sticky tooltip is controlled through the data-vertical and data-horizontal attributes so you can have sticky tooltips such as <span nag-tooltip nag-single-panel data-id="sticky1" data-vertical="top" data-horizontal="left">
      <span class="handle hint left" data-hint="hint.css content">top left</span>
      <span class="tooltip-sticky-content">
        <ul>
          <li>Email</li>
          <li>Documents</li>
          <li>Spread Sheets</li>
        </ul>
      </span>
    </span>, <span nag-tooltip nag-single-panel data-id="sticky2" data-vertical="bottom" data-horizontal="right">
      <span class="handle hint right" data-hint="hint.css content">bottom right</span>
      <div class="tooltip-sticky-content">
        <ul>
          <li>Email2</li>
          <li>Documents2</li>
          <li>Spread Sheets2</li>
        </ul>
      </div>
    </span>, or <span nag-tooltip nag-single-panel data-id="sticky3" data-vertical="middle" data-horizontal="left">
      <span class="handle hint bottom" data-hint="hint.css content">left middle</span>
      <div class="tooltip-sticky-content">
        <ul>
          <li>Email2</li>
          <li>Documents2</li>
          <li>Spread Sheets2</li>
        </ul>
      </div>
    </span>.
  </div>
</div>
